@import "mixins/library";

@size: 10px;
@margin: 1px;
@color: #ccc;
.corner {
  position: relative;
  .border-box;
  &:before {
    content: '';
    position: absolute;
    margin: @margin;
  }
}

.corner-t-left:extend(.corner all) {
  &:before {
    left: 0;
    top: 0;
    border-right: @size solid transparent !important;
    border-top: @size solid @color;
  }
}

.corner-b-left:extend(.corner all) {
  &:before {
    left: 0;
    bottom: 0;
    border-right: @size solid transparent !important;
    border-bottom: @size solid @color;
  }
}

.corner-t-right:extend(.corner all) {
  &:before {
    top: 0;
    right: 0;
    border-left: @size solid transparent !important;
    border-top: @size solid @color;
  }
}

.corner-b-right:extend(.corner all) {
  &:before {
    bottom: 0;
    right: 0;
    border-left: @size solid transparent !important;
    border-bottom: @size solid @color;
  }
}